body{
    margin: 0;
    padding: 60px;
    max-width: 1440px;
    background-color: hsl(233, 47%, 7%) ;
}

main{
    background-color: hsl(244, 38%, 16%);
    display:flex ;
    width: fit-content;
    height: 447px;
    margin: 50px 0 50px 0;
}
/*Containers*/
div.container{
    padding: 0;
    height: 447px;
}
div.container > h1{
    width: fit-content;
    margin: 10px auto;
}

div.container2 {
    width: 55%;
    margin: 65px auto;

}
/*end*/

/*list*/
ul{
    width: fit-content;
    margin: auto;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 10px;
    margin: 0 25px 0 25px;
    list-style: none;    
}
li > h2, li > p{
    margin: 0;
}
/*end*/

/*img*/
picture{
    margin: 0px;
}
img{
    margin: 1px auto;
    padding: 0;
    height: fit-content;
}
/*fim*/

/*Border radius */






@media only screen and (max-width:  475px){
    main{
        display: flex;
        flex-direction: column-reverse;
    }
    ul li {
        display: flex;
        flex-direction: column;
    }
    body{
        padding: 0;
    }
    img{
        background-image: url();
    }
}

@media only screen and (max-width:  1300px){
    main{
        display: flex;
        flex-direction: column-reverse;
    }
    ul li {
        display: flex;
        flex-direction: column;
    }
    body{
        padding: 0;
    }
}