body{
    margin: 0;
    padding: 60px;
    max-width: 1440px;
    background-color: hsl(233, 47%, 7%) ;
}

main{
    background-color: hsl(244, 38%, 16%);
    display:flex ;
    flex-direction: row;
    width: fit-content;
    height: 447px;
    margin: 50px 0 50px 0;
    border-radius: 10px;
}
/*Containers*/
div.container{
    padding: 0;
    height: 447px;
}
div.container > h1{
    width: fit-content;
    margin: 10px auto;
}

div.container2 {
    width: 55%;
    margin: 65px auto;

}
/*end*/

/*list*/
ul{
    width: fit-content;
    margin: auto;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 10px;
    margin: 0 25px 0 25px;
    list-style: none;    
}
li > h2, li > p{
    margin: 0;
}
/*end*/

/*image*/
img{
    border-radius: 0 10px 10px 0;
}
picture{
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
/*end*/

@media only screen and (max-width:  470px){
    main{
        margin: 10px auto ;
        height: fit-content;
        width: 280px;
        display: flex;
        border-radius: 0 0 10px 10px;

        flex-direction: column-reverse;
    }
    ul li {
        display: flex;
        flex-direction: column;
    }

    body{
        padding:25px;
        margin: 1px auto;
    }

    div.container{
        height: fit-content;
    }
    div.container2{
        width: 300px;
        margin: 15px auto;
    }
    img{
        border-radius: 10px 10px 0 0 ;
        margin-top: 0;
    }

}