@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
    font-size: 15px;
    color: white;
    margin: 0;
    max-width: 1440px;
    background-color: rgb(81, 62, 99);
}

h1{
    font-family: 'Inter', sans-serif;
}
ul li {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

strong{
    color: hsl(277, 64%, 61%);
}

picture > img{
    filter: drop-shadow(rgb(170, 92, 219));
}