@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
    font-size: 15px;
    color: white;
    margin: 0;
    max-width: 1440px;
}

h1{
    font-family: 'Inter', sans-serif;
    color:  hsl(0, 0%, 100%);
}
ul li {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color :hsl(0, 0%, 100%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
}
 ul li > p{
    margin: 3px auto;
    font-size: 10px;
}

strong{
    color: #aa5cdb;
}

@media only screen and (max-width:  470px){
    	
    h1,p{
        text-align: center;
    }
    h1{
        font-size: 15px;
        width: 250px;
        margin: 1px auto;
    }
    div.container2 > p{
        font-size: 8px;
        width: 200px;
        margin: 1px auto;
    }
}
@media only screen and (max-width:  1025px){
    h1,p{
        text-align: center;
    }
}